.intro{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding:10px;
	margin-bottom:60px;
	box-shadow:3px 5px 5px 0px lightgrey;
	text-shadow: 1px 1px white;
	border: 1px solid white;
	border-radius: 3px;
}

.part1{
	padding-right:50px;
}

.slider{
	margin-bottom:60px;
}

.slider img{
	margin-left:250px;
}


footer{
	margin-top:30px;
	margin-bottom:200px;
}

.home-title{
	text-align:center;
	box-shadow:5px 5px 5px 0px lightgrey;
	padding:10px;

}

.footp{
	text-align: center;
}


.flexible {
	width: 100%;
	max-width: 400px;
}

.part1 a{
	text-decoration: none;	
	color:black;
	border-bottom:solid black 1px;
}

.part1 a:hover{
	color:darkgrey;
}

@media (max-width: 1000px) {
	.intro{
		display: block;
		margin-bottom: 10px;
		padding-left: 2px;
		padding-bottom: 2px;
		margin-top:0px;
		padding-top:0px;
	}
	.slider {
		display: block;
		padding:0px;
		margin:0px;
		width:auto;
	}
	.slider img{
		margin-left:40px;
	}

	.intro img {
		margin-top: 5px;
	}

	.more {
		margin-bottom: 5px;
	}

	footer{
		margin-bottom:330px;
	}
}

@media (max-width: 1300px) {

	.flexible{
		width:60%;
		max-width:200px;
	}

}

@media (max-width: 500px) {
	figure {
		float: none;
		margin-left: initial;
	}

}