.banner{
	position:fixed;
	bottom:0;
	width:100%;	
}

.menu{
	background-color:white;
	display:grid;
	border-radius: 20px;
}

.menu ul{
	color:black;
	display:flex;
	justify-content:center;
	list-style-type: none;
	margin-left:700px;
	margin-top:0px;
}

.menu li{
	border-radius: 20px;
	margin-left:15px;
	text-align:center;
}


.phrase{
	padding-left:40px;
	margin-bottom:0px;
}

.menu a{
	color:white;
	background-color:#444444;
	display:inline-block;
	text-decoration: none;
	padding:10px;
	border-radius: 20px;
}

.menu a:visited{
	color: grey;
}

.menu a.is-current{
	background-color: #B9AAAA;
	color:#444444;

}

.menu a:hover{
	color:#444444;
	background-color:white;
	border-radius: 19px;
}



@media (max-width: 1200px) {
	.menu a, .menu ul, .menu li{ 
		display: block; 
		width:auto;
		margin:0.1px;
		padding-left:5px;
		padding-bottom:1px;
		padding-top:1px;
	} 

	.menu ul{
		margin-left:210px;
	}

	.h1big{
		font-size:20px;
	}

}