body{
	background-image: url(../image`/Wiki-background.jpg);
	color: silver;
}

.container,.container2,footer{
	margin:auto;
	width:95%;
	max-width: 960px;

}



h1,h2,h3{
	font-family: Georgia, sans-serif;
}


th,td{
	border-bottom: 2px solid #444444;
	padding: 15px;
	text-align:center;
}

.development{
	margin-left:170px;
	margin-top:40px;
	margin-bottom:40px;
}

.boastable{
	margin-left:100px;
	margin-top:40px;
	margin-bottom:40px;
}

.charles{
	margin-left:10px;
	margin-top:40px;
	margin-bottom:40px;
}

.tim-table{
	margin-left:100px;
	margin-top:40px;
	margin-bottom:40px;
}

.h21,.h22,.h24,.h26,.h28{
	border-bottom:3.5px solid #444444;
	border-radius: 30px;
}



.section2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-right: 10px;
	margin:25px;
}
.h22{
	grid-column: 1/3;

}

.briefintro{
	text-shadow: 1px 1px white;
	border: 1px solid white;
	border-radius: 3px;
	box-shadow:3px 5px 5px 0px lightgrey;
	padding:20px;
	margin:25px;
	display: grid;
	grid-template-columns: 2fr 1fr;	
}
.h21{
	grid-column:1/3;
}




.gridbox1{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	color:gainsboro;
	text-shadow: 2px 2px black;
	margin: 30px;
}

.h23,.h25,.h27{
	grid-column: 1/4;	
	border-bottom:3.5px solid gainsboro;
	border-radius: 30px;
	text-shadow: 5px 5px black;
}




.gridbox2{
	display:grid;
	grid-template-columns: 1fr 1fr;
}
.h24{
	grid-column: 1/3;
}

.gridbox3{
	color:gainsboro;
	text-shadow: 2px 2px black;
	display:grid;
	grid-template-columns: 1fr 2fr;
	padding:25px;
	border:10px double white;
}



.img1{
	padding-top:40px;
}

.p22,.p21,.grid1,.grid2,.grid3,.grid4,.citation li{
	border: 1px solid white;
	border-radius: 3px;
	box-shadow:3px 5px 5px 0px lightgrey;
	padding:15px;
	margin:15px;
}



.box1,.box2,.box3{
	margin-left:15px;
	margin-right:15px;
	padding:15px;
}

.citation{
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 0;
	color: white;	
}

.citation li{
	text-align: center;
	flex-basis: 200px;
	list-style-type: none;
	background-color: silver;
}


.p22:first-letter, .p21:first-letter{
	font-size:30px;
}

.writing{
	color:gainsboro;
	text-shadow: 2px 2px black;
	padding:25px;
	border:10px double white;
}

.musk{
	margin-left:320px;
}


tr:hover {
	background-color: gainsboro;
}

.footp a{
	text-decoration: none;	
	color:black;
}

.footp a:hover{
	color:darkgrey;
}

@media (max-width: 1100px) {
	.container,.container2,footer, .lead, .section2, .briefintro, .gridbox1, .gridbox2, .gridbox3{
		display: block;
	}

	.musk, .development, .boastable, .charles, h2{
		margin:0px;
		width:auto;
	} 
}

@media (max-width:1300px) {
		.gridbox1{
		display: block;
	}
}  

@media (max-width:500px) {
     figure {
          float: none;
          margin-left: initial;
     }
}  

@media (max-width: 500px) {
	img{
		width: 40%;
	}
}