.banner{
	background-color: transparent;
  /* width:80%;
  margin: auto 10% auto 10%; */
}

.logo {
	width: 50px;
	height: 50px;
	padding-left: 40px;
	padding-top: 40px;
}

.site-title{
  font-size: 3em;
  padding-left: 40px;
}

.main-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
  grid-row-gap: 30px; 
	grid-template-areas:	
		"head  head"
		"introduction  introduction"
		"child el"
		"later  data"
		"ending ending";
	max-width: 1060px;
	margin: 0 auto;
	font-family: times, Helvetica, sans-serif;
}

.menu{
  display:grid;
	padding-top: 10px;
	border-bottom: black solid 2px;
}

.menu ul{
	color:black;
	display:flex;
	/* justify-content:center; */
	list-style-type: none;
	/* margin-left:700px; */
	margin-top:0px;
}

.menu li{
	/* border-radius: 20px; */
	margin-left:0px;
  text-align:center;
  border: 1px solid black;
}


.phrase{
	padding-left:40px;
	margin-bottom:20px;
	font-size: larger;
}

.menu a{
	color:black;
	background-color: yellow;
	display:inline-block;
	text-decoration: none;
	padding:10px;
}

.menu a:visited{
	color: black;
}

.menu a.is-current{
	background-color: black;
	color:yellow;

}

.menu a:hover{
	color:yellow;
	background-color:black;
	/* border-radius: 19px; */
}


@media (max-width: 1200px) {
	.menu a, .menu ul, .menu li{ 
		display: block; 
		width:auto;
		margin:0.1px;
		padding-left:5px;
		padding-bottom:1px;
		padding-top:1px;
	} 

	.site-title{
    font-size:1.5em;
	}
	
	.el {
		font-size: 20px !important;
	}

	.container {
		display: unset !important;
	}

	img {
		width: 60%;
	}

	figure {
		text-align: center;
	}

}