

.container {
  	display: grid;
  	grid-template-columns: 1fr 1fr 1fr;
  	grid-column-gap: 30px;
		grid-row-gap: 30px; 
  	grid-template-areas:	
    	"head head head"
    	"introduction introduction introduction"
    	"child child el"
    	"later later data"
    	"ending ending ending";
    	max-width: 1060px;
		margin: 0 auto;
		font-family: times, Helvetica, sans-serif;
}

.head { grid-area: head; }
.introduction { grid-area: introduction; }
.el { grid-area: el; }
.child{ grid-area: child;}
.later { grid-area: later; }
.data { grid-area: data; }
.ending { grid-area: ending; }

.el{
    font-size: 25px;
    color: blue;
    position: relative;
    text-align: justify;
}

.header {
    width:100%;
    height: 360px;
    background-position: center;
    background-color: yellow;
    background-size: cover;
    margin:0 auto;
    padding: 0;
}

body {
	/* background-color: lightblue */
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQYV2NkQAOT9p74z4gsBhLIc7ZghAvCBECKwIIwAbhKZBUwBQAu7BoyiTRHlgAAAABJRU5ErkJggg==) repeat;
}

h1 {
	color: black
}
h2 {
	font-size: 28px;
	text-indent: 16px;
	line-height: 36px;
	border-left: 6px solid yellow;
	color: red;
}

h3 {
	font-size: 20px;
	color: blue;
	border-bottom: 2px solid blue;
	display: inline;
}

p {
	font-size: 18px;
	text-align: justify;
}

table {
    border: 10px solid blue;
    margin-top: 20px;
}

th, td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
	background-color: yellow;
}

tr:nth-child(odd) {
	background-color: pink;
}

a:link {
  text-decoration: none;
}

a:hover { 
  background-color: yellow;
}

.li{
	top: 10px;
}

.flowing-boxes li{
	flex-basis: 180px;
	color: white;
	border-style: solid;
	border-radius: 16px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.intro {
	font-size: 28px;
	color: blue;
	text-align: center;
	text-align-last: center;
	position: relative;
	top: 60px;
}

.title {
	font-size: 4em;
	text-align: center;
	color: blue;
}

figure {
	float: right;
	margin-left: 20px;
}

figcaption {
	font-size: 15px;
	text-align: center;
	color: green
}

.copyr {
	text-align: center;
}